@import '../../../styles/lib/utils.scss';

.SearchBanner {
    height: 260px;

    .searchBox {
        height: 100%;
        border-bottom: 1px solid $oc-gray-4;

        // 배너 검색창 + 검색 버튼 박스
        .searchBoxForm {
            position: static;
            padding-top: 5rem;

            // 배너 검색창
            .inputBox {
                display: flex;
                flex: 1;

                // 재능 input 공통        
                .input {
                    display: flex;
                    flex-direction: column;
                    flex: .5;

                    select {
                        height: 3rem;
                        width: 100%;
                        margin: 0;
                        padding: .8em .5em;
                        color: $oc-gray-7;
                        box-sizing: border-box;
                        font-size: 1rem;
                        font-weight: 300;
                        border: 1px solid $oc-gray-2;
                        background: white;
                        border-radius: 0px;

                        &:focus {
                            outline: none;
                        }
                    }
                }

                // switch button
                .betweenInput {
                    display: flex;
                    flex-direction: column;

                    .switchBtn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid $oc-gray-2;
                        height: 3rem;
                        box-sizing: border-box;

                        button {
                            padding: 0;
                            margin: 0;
                            border: none;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: .25rem .5rem;
                            box-sizing: border-box;
                            font-weight: 400;
                            font-size: .9rem;
                            color: $c-primary;
                            cursor: pointer;
                            user-select: none;
                            display: inline-flex;
                            transition: all .2s ease-in-out;
                            outline: none;
                        }
                    }
                }

                // 재능 input, switch button 공통
                .input,
                .betweenInput {
                    label {
                        font-size: .8rem;
                        font-weight: 600;
                        padding-left: 1rem;
                        margin-bottom: .3rem;
                    }
                }
            }

            // 재능 검색 버튼
            .btnBox {
                display: flex;
                justify-content: flex-end;
                margin-top: 1rem;

                .searchIcon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: .2rem;
                    margin-top: .1rem;
                }
            }
        }
    }

    @include media('<medium') {
        height: auto;

        .searchBox {
            .searchBoxForm {
                .inputBox {
                    flex-flow: column wrap;

                    .input {
                        flex: 0 0 100%;
                        margin-bottom: 2rem;
                    }

                    .betweenInput {
                        display: none;
                    }
                }

                .btnBox {
                    margin-top: 0rem;
                    margin-bottom: 5rem;
                }
            }
        }
    }

    @include media('<small') {
        height: auto;

        .searchBox {
            .searchBoxForm {
                padding-top: 3rem;

                .btnBox {
                    margin-bottom: 3rem;
                }
            }
        }
    }
}