@import '../../../styles/lib/utils.scss';

.Post {
    padding-top: 1rem;

    .postHead,
    .postBody {
        display: flex;
        justify-content: space-between;

        .headImg,
        .bodyContent {
            flex: 0 0 72%;
        }

        .headContent,
        .bodyInfo {
            flex: 0 0 26%;
        }

        @include media('<large') {

            .headImg,
            .bodyContent {
                flex: 0 0 62%;
            }

            .headContent,
            .bodyInfo {
                flex: 0 0 36%;
            }
        }

        @include media('<medium') {
            display: block;
        }
    }

    .postHead {
        .headContent {
            position: relative;
            border-top: 3px solid $c-primary;

            .headContentTitleBox {
                padding: 0 .5rem;

                h2 {
                    font-size: 1.4rem;
                    font-weight: 600;
                    margin: 2rem 0 1rem;
                }

                p {
                    font-weight: 300;
                }
            }

            .headContentBtnBox {
                width: 100%;
                position: absolute;
                bottom: 0;
            }
        }

        @include media('<medium') {
            .headContent {
                position: static;
                border: none;

                .headContentTitleBox {
                    padding: 0 .5rem;

                    h2 {
                        font-size: 1.6rem;
                    }
                }

                .headContentBtnBox {
                    position: static;
                    margin-top: 2rem;
                }
            }
        }

    }

    .postBody {
        margin-top: 1rem;
        padding-top: 2rem;
        padding-bottom: 12rem;
        box-sizing: border-box;

        .bodyContent {
            height: auto;
            position: relative;

            h2 {
                font-size: 2rem;
                font-weight: 600;
                margin-bottom: .3rem;
            }

            .talentBox {
                color: $oc-gray-6;
                font-weight: 500;
                font-size: .8rem;
                margin-bottom: 2rem;
            }

            .bodyBox {
                width: 100%;
                padding-bottom: 18rem;
            }

            .ctrBox {
                text-align: right;
                display: inline-block;
                position: absolute;
                bottom: 4rem;
                right: 0;

                p {
                    color: $oc-gray-4;
                    font-size: .8rem;
                    font-weight: 400;
                }

                div {
                    display: inline-block;
                    margin-bottom: .3rem;
                    margin-left: .3rem;
                    color: $oc-gray-6;

                    button {
                        color: $oc-gray-6;
                        border: none;
                        cursor: pointer;
                    }
                }
            }

            .bodyContentBtnBox {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .bodyInfo {
            .bodyInfoContentBox {
                padding: 3.6rem 1rem;
                background-color: $oc-gray-1;

                p {
                    font-size: .8rem;
                    font-weight: 300;
                    color: $oc-gray-7;
                }
            }
        }

        @include media('<medium') {
            .bodyContent {
                h2 {
                    display: none;
                }

                .ctrBox {
                    .bodyContentBtnBox {
                        position: static;
                    }
                }
            }

            .bodyInfo {
                .bodyInfoContentBox {
                    margin-top: 4rem;
                }
            }
        }

        @include media('<small') {
            .bodyContent {
                .bodyBox {
                    padding-bottom: 16rem;
                }

                .ctrBox {
                    p {
                        display: none;
                    }
                }
            }
        }
    }
}