@import '../../../styles/lib/utils.scss';

.HomeContents {
    .title {
        font-size: 1.4rem;
        font-weight: 700;
    }

    .sub {
        font-weight: 300;
        margin-bottom: 1.4rem;
    }
}