@import '../../../styles/lib/utils.scss';

.ApplyModal {
    font-weight: 300;
    text-align: center;
    .contentBox {
        margin: 0 auto;
        padding: 2rem;
        box-sizing: border-box;
        border: 1px solid $oc-gray-1;
        @include material-shadow(2,1,$oc-gray-6);
        display: flex;
        align-items: center;
        justify-content: center;
        > div {
            h2 {
                font-size: 1.4rem;
                font-weight: 600;
                margin: 2rem 0;
            }
            .talentBox {
                margin-bottom: 2rem;
                .talent {
                    margin-bottom: .3rem;
                    color: $c-secondary-light;
                }
            }
        }
    }
    h4 {
        margin: 2rem 0;
    }
    .btnBox {
        div {
            margin-bottom: 2rem;
        }
    }
}