@import '../../styles/lib/utils.scss';

.PageWrapper {
    max-width: 1660px;
    height: 100%;
    margin: 0 auto;
    padding-right: 160px;
    padding-left: 160px;
    box-sizing: border-box;

    @include media('<large') {
        padding-right: 40px;
        padding-left: 40px;
    }

    @include media('<medium') {
        padding-right: 24px;
        padding-left: 24px;
    }
}