@import '../../../../../styles/lib/utils.scss';

.NavigationItem {
    font-family: $f-ko-sans;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 4px;
    padding: 0 .5rem;
    font-weight: 600;
    font-size: .8rem;
    cursor: pointer;
    user-select: none;
    a {
        height: 100%;
        padding-top: 22px;
        box-sizing: border-box;
        &:hover,
        &:active,
        &.active {
            color: $c-primary;
            border-bottom: 2px solid $c-primary;
        }
    }
}