@import '../../../styles/lib/utils.scss';

.Modal {
    width: 500px;
    position: fixed;
    top: 50%;
    left: calc(50% - 250px);
    transform: translateY(-50%);
    padding: 2rem;
    z-index: 300;
    background-color: #fff;
    border-radius: .4rem;
    box-shadow: 0 4px 4px rgba(0,0,0,.08), 0 2px 2px rgba(0,0,0,.04);
    box-sizing: border-box;
    transition: all .4s ease-in-out;

    @include media('<medium') {
        max-width: 70%;
        left: calc(50% - 35%);
        transform: translateX(-50%);
        padding: 2rem 1.6rem;
    }
    @include media('<small') {
        max-width: 90%;
        left: calc(50% - 45%);
        transform: translateX(-50%);
        padding: 2rem 1rem;
    }
}