@import '../../../styles/lib/utils.scss';

.Button {
    padding: .25rem .5rem;
    box-sizing: border-box;
    font-weight: 400;
    font-size: .9rem;
    color: $c-primary;
    cursor: pointer;
    user-select: none;
    display: inline-flex;
    transition: all .2s ease-in-out;

    // outline theme
    &.outline {
        border: 1px solid $c-primary;
        border-radius: .16rem;
        margin: 0 .6rem;
        &:hover,
        &:active {
            background-color: $c-primary;
            color: white;
        }
        &-big {
            border: 1px solid $c-primary;
            border-radius: .2rem;
            font-size: 1rem;
            font-weight: 400;
            padding: .6rem 2rem .8rem;
        }
    }

    // outline-white theme
    &.outline-white {
        border: 1px solid white;
        border-radius: .16rem;
        margin: 0 .6rem;
        color: white;
        &:hover,
        &:active {
            background-color: transparent;
            color: white;
        }
        &-big {
            border: 1px solid white;
            border-radius: .2rem;
            color: white;
            font-size: 1rem;
            font-weight: 400;
            padding: .6rem 2rem .8rem;
        }
    }

    // primary theme
    &.invert {
        background-color: $c-primary;
        border-radius: .16rem;
        color: white;
        padding: .4rem 1rem .6rem;
        &:hover,
        &:active {
            background-color: $c-primary-light;
        }

        &-full {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $c-primary;
            border-radius: .16rem;
            color: white;
            padding: .6rem 1rem;
            &:hover,
            &:active {
                background-color: $c-primary-light;
            }
        }

        &-big {
            background-color: $c-primary;
            border-radius: .2rem;
            color: white;
            font-size: 1rem;
            font-weight: 400;
            padding: .6rem 2rem .8rem;
            &:hover,
            &:active {
                background-color: $c-primary-light;
            }
        }
    }

    // point theme
    &.point {
        background-color: $c-secondary;
        border-radius: .16rem;
        color: white;
        padding: .4rem 1rem .6rem;
        &:hover,
        &:active {
            background-color: $c-secondary-light;
        }

        &-big {
            background-color: $c-secondary;
            border-radius: .2rem;
            color: white;
            font-size: 1rem;
            font-weight: 400;
            padding: .6rem 2rem .8rem;
            &:hover,
            &:active {
                background-color: $c-secondary-light;
            }
        }
    }
}