@import '../../../styles/lib/utils.scss';

.Button {
    padding: .25rem .5rem;
    font-weight: 600;
    font-size: .9rem;
    color: $c-primary;
    cursor: pointer;
    user-select: none;
    display: inline-flex;
    text-decoration: none;
    margin: 0 .6rem;
    transition: all .2s linear;

    // outline theme
    &.outline {
        border: 1px solid $c-primary;
        border-radius: 2px;
        &:hover,
        &:active {
            background-color: rgba($c-primary,0.1);
        }
    }

    // reverse theme
    &.reverse {
        background-color: $oc-blue-6;
        border-radius: 2px;
    }
}