@import '../../../styles/lib/utils.scss';

.Banner {
    width: 100%;
    height: 400px;
    background-image: linear-gradient(to right bottom, rgba($c-primary-dark, 0.8), rgba($c-primary-dark, 0.4)), url("../../../assets/cowork1.jpg");
    background-position: bottom;
    background-size: cover;

    .bannerContentBox {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .bannerContent {
            width: 100%;
            h2 {
                margin-bottom: 1rem;
                color: white;
                font-size: 2.6rem;
                font-weight: 700;
                line-height: 3.4rem;
            }
        }
    }
}