@import '../../../styles/lib/utils.scss';

.loadingBox {
    min-height: 390px;
    width: 100%;
    position: relative;
    margin-bottom: 3rem;
    padding: .3rem 0;

    .HomePostCards {
        display: flex;
        flex-flow: row wrap;
        flex-direction: row;
    }

    @include media('<medium') {
        height: auto;
    }
}