@import '../../../styles/lib/utils.scss';

.loadingBox {
    height: 380px;
    width: 100%;
    position: relative;
    margin-bottom: 6rem;
    padding: .3rem 0;
    overflow: hidden;
    .HomePostCards {
        display: flex;
        flex-flow: row wrap;
        flex-direction: row;
    }

    @include media('<small') {
        overflow: visible;
        height: auto;
    }
}
