@import '../../../styles/lib/utils.scss';

.searchArr {
    padding-top: 6rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: $oc-gray-4;
    height: 100%;
}

.PostCards {
    padding: 6rem 0;
    margin-bottom: 6rem;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
}