.SignIn {
    padding: 0 0 3rem;
    h4 {
        font-size: 1.6rem;
        font-weight: 300;
        text-align: center;
        margin: 2rem 0;
    }
    .errorMessage {
        font-weight: 300;
        text-align: center;
    }
    .btnBox {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
    }
}