@import '../../../styles/lib/utils.scss';

.EditorPane {
    padding: 3rem;
    box-sizing: border-box;
    font-weight: 300;
    color: $oc-gray-8;

    // input 공통 설정
    input {
        margin: 0;
        padding-left: 1rem;
        width: 100%;
        box-sizing: border-box;
        border: none;
        outline: none;
        font-weight: 400;
        color: $oc-gray-8;
    }

    // 타이틀 입력 박스
    .titleBox {
        width: 100%;

        input {
            padding: 1rem;
            font-size: 2rem;
            border-bottom: 1px solid #eaeaea;

            &::placeholder {
                color: #bbb;
            }
        }
    }

    // 소개 입력 박스
    .subBox {
        margin-top: 1rem;
        width: 100%;

        input {
            padding: .8rem 1rem;
            font-size: 1rem;
            border-bottom: 1px solid #eaeaea;

            &::placeholder {
                color: #bbb;
            }
        }
    }

    // 재능 입력 박스
    .tagsBox {
        margin-top: .6rem;
        width: 100%;
        display: flex;
        justify-content: space-between;

        select {
            appearance: none;
            background-color: white;
            padding: .8rem 1rem;
            flex: .46;
            font-size: 1rem;
            border: none;
            border-bottom: 1px solid #eaeaea;

            &:focus {
                outline: none;
            }
        }
    }

    // 본문 입력 박스
    .bodyBox {
        margin: 3rem 0;
    }

    // 사진 업로드 박스
    .imgBox {
        display: block;
        position: relative;

        >div {
            position: relative;
            top: 0;
            left: 50%;
            width: 50%;

            >div {
                margin-bottom: .6rem;
                display: flex;
                align-items: center;

                h4 {
                    display: inline-block;
                    margin-right: .6rem;
                }

                button {
                    border: 1px solid $oc-gray-4;
                    padding: .4rem .8rem .3rem;
                    box-sizing: border-box;
                    color: $oc-gray-6;
                    font-size: .8rem;
                    cursor: pointer;
                }
            }

            .imgContainer {
                width: 100%;
                padding-bottom: 60%;
                box-sizing: border-box;
                background-color: #eaeaea;
                overflow: hidden;
                position: relative;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    object-fit: cover;
                }
            }

        }
    }

    // submit 버튼 박스
    .btnBox {
        display: flex;
        justify-content: center;
        margin: 6rem 0 12rem;

        button {
            outline: none;
        }
    }

    @include media('<large') {
        padding: 3rem 0rem;
    }

    @include media('<medium') {
        .imgBox {
            >div {
                left: 0;
                width: 100%;
            }
        }
    }

    @include media('<small') {
        padding: 3rem 0rem;

        .imgBox>div>div button {
            background-color: #fff;
        }

        .btnBox {
            margin: 4rem 0 8rem;
        }
    }
}