.EditorPane {
    padding: 3rem 0;
    box-sizing: border-box;
    font-weight: 300;
    color: #2c2c2c;
    input {
        margin: 0;
        padding-left: 1rem;
        width: 100%;
        box-sizing: border-box;
        border: none;
        outline: none;
        font-weight: 400;
        color: #2c2c2c;
    }

    .titleBox {
        width: 100%;
        input {
            padding: 1rem;
            font-size: 2rem;
            border-bottom: 1px solid #eaeaea;
            &::placeholder {
                color: #bbb;
            }
        }
    }
    .subBox {
        margin-top: 1rem;
        width: 100%;
        input {
            padding: .8rem 1rem;
            font-size: 1rem;
            border-bottom: 1px solid #eaeaea;
            &::placeholder {
                color: #bbb;
            }
        }
    }
    .bodyBox {
        margin: 3rem 0;
    }
    .tagsBox {
        margin-top: .6rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        input {
            padding: .8rem 1rem;
            flex: .46;
            font-size: 1rem;
            border-bottom: 1px solid #eaeaea;
            &::placeholder {
                color: #bbb;
            }
        }
    }
    .imgBox {
        .imgContainer {
            width: 50%;
            height: 240px;
            background-color: #eaeaea;
            overflow: hidden;
            img {
                object-fit: cover;
            }
        }
    }
    .btnBox {
        display: flex;
        justify-content: center;
        margin: 3rem 0 12rem;
    }
}