@import '../../../styles/lib/utils.scss';

.Footer {
    padding: 4rem 0;
    border-top: 1px solid $oc-gray-4;
    font-family: $f-en-sans;
    position: relative;

    .footerBox {
        position: relative;
        width: 100%;
        text-align: center;

        h4 {
            margin-bottom: .3rem;
            color: $oc-gray-6;
        }

        p {
            color: $oc-gray-6;
        }

        div {
            font-size: 2rem;
            margin: 1rem 0;
            color: $c-primary;
        }

        span {
            font-size: .8rem;
            color: $oc-gray-4;
        }
    }
}