@import '../../../styles/lib/utils.scss';

.Footer {
    height: 400px;
    border-top: 1px solid $oc-gray-4;
    font-family: $f-en-sans;
    position: relative;

    .footerBox {
        position: relative;
        top: 6rem;
        width: 100%;
        text-align: center;

        h4 {
            font-size: 1.4rem;
            margin-bottom: .3rem;
            color: $oc-gray-6;
        }
        p {
            color: $oc-gray-6;
        }
        div {
            font-size: 4rem;
            margin: 1.6rem 0;
            color: $c-primary;
        }
        span {
            font-size: .8rem;
            color: $oc-gray-4;
        }
    }
}